/*-----------------------------------*/
/*--- IMPORT STYLES FOR Mortpages ---*/
   

/*-----------------------------------*/
/*--- CUSTOM STYLES FOR Nighthawkpages ---*/
// Uncomment out the following themes to use them 

// @import "minima/hacker/jekyll-theme-hacker"; //Hacker theme 
// @import "minima/minimal-mistakes"; //Minimal Mistakes theme 
// @import "minima/monophase/main"; //Monophase theme 
// @import "minima/leaf/_leaf";  //Leaf theme 
// @import "minima/hamilton/main"; //Hamilton theme

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// If you want to use dark themes uncomment out the following lines

// FOR HAMILTON
// @import "minima/hamilton/skins/daylight";
// @import "minima/hamilton/skins/midnight";
// @import "minima/hamilton/skins/sunrise";
// @import "minima/hamilton/skins/sunset"


/*----------------------------------------------------*/
/*----- Styling to change website to look good -------*/
/*----------------------------------------------------*/


@import "hot-ppl";
@import "index_background";

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
/*-----------------------------------*/

.chatbox {
    padding: 25px;
}
.send {
    width: 10%;
    display: inline;
}
.User {
    text-align: right;
}
.AI {
    text-align: left;
}
.AI-input {
    width: 89%;
    border-radius: 5px;
    display: inline;
}
