body {
  font: 100% Helvetica, sans-serif;
  background-color: #F3F3F3;
  color: #333;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
}
/* Import Google font - Poppins */

.P-contain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}
.P-contain div {
  width: calc(33.33% - 20px); /* Adjust for spacing */
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.container {
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap onto multiple lines */
}


h1,h2,h3,h4,h5,h6,p,ul,li {
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #4A4744;
  padding: 15px 1px;
  padding-right: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0);
  transition: all 0.4s ease;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: black;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: black;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: black !important;
  transition: all 0.4s ease;
}
.link:hover {
  color: #fff;
  background-color: #F6F6F6;
  transition: all 0.4s ease;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.title {
  color: black !important;
}

.line {
    background: black !important;
    color: black !important;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid black;
}
.sidebar_profile .name {
  font-size: 18px;
  color: black !important;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #FFFFFF;
}

/* Navbar */
// .navbar {
//   max-width: 500px;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   left: 60%;
//   transform: translateX(-50%);
//   background: radial-gradient(ellipse at bottom, #0d1d31 0%, #8691d1 100%);
//   padding: 10px 20px;
//   border-radius: 0 0 8px 8px;
//   justify-content: space-between;
// }

#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
.data_text {
  margin-left: 10px;
}
/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }
}
